body{
    color: rgb(81, 196, 209);
    background-color: rgb(106, 0, 85);
}
.title{
    width: 80%;
    font-size: 20px;
}
.nameofobjects,#resultobjectname,#resultobjectaccuracy{
    color:rgb(255, 255, 255);
}